* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: Inter, sans-serif;
}

a:hover {
    color: #754ffe;
}

h1,h2,h3,h4{
    font-weight: 700;
    line-height: 1.6;
}
p,span{
    line-height: 1.6;
}

hr {
    margin: 16px 16px;
    color: #eae7f5;
    background-color: currentColor;
    border: 0;
    height: 1px;
}

